html(lang="en")
    html
        meta(charset="UTF-8")
        body
            header
                h1 Hello World 
                p Welcome 
            main
                div
                    h2 Here are some features 
                    ul
                        li 
                            a(href="https://www.google.com") Pug uses idents 
                        li Pug includes partial templates 
                        li Pug beautifys code
                div
                